
<h1>New Transaction Notification</h1>
  <p>
    Transaction is accepted, please wait for verification <br>
    <% @transaction = @user.transactions.find_by_id(@user.id) %>
       Transaction amount: <%= @transaction %> <br>
  </p>
<p>have a great day!</p>