
<h1>Welcome to Citrakara.id <%= @user.username %></h1>
  <p>
    You have successfully signed up to Citrakara.id,<br>
    your username is: <%= @user.username %>.<br>
    Your email is 	: <%= @user.email %> <br>
    Your password is: <%= @user.password %><br>
  </p>
<p>Thanks for joining and have a great day!</p>