<% if user_signed_in? %>
<h1>Editing Painting</h1>
<%= render 'form', painting: @painting %>
<%= link_to 'Show', @painting %> |

<% else %>
<h1> Please Login First </h1>>
<% end %>

<%= link_to 'Back', paintings_path %>
